<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

</head>
<body class="container">

    <header>
        <%- include('../partials/support/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Support</h1>
            <p>If you need support or would like to contact us you can make a request using the following methods.</p>
            <ul>
                <li><strong>Email</strong> - <a  href="mailto:mail@papa-snags.com" target=blank>mail@papa-snags.com</a></li>
                <li><strong>Twitter</strong> - <a href="https://twitter.com/PapaSnags" target=blank>@PapaSnags</a></li>
                <li><strong>Discord</strong> - PapaSnags#1555</li>
                <li><strong>Discord Server</strong> - <a href="https://discord.com/invite/w7B5nKB" target=blank>Invite</a></li>
            </ul>
        <p>You can find our Privacy Policy <a href="https://papa-snags.com/privacy-policy/" target=blank>here.</a></p>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="js/darkmode.js"></script>
</body>
</html>